@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* Body */

body {
  background-color: #1d2d50;
}

/* Untuk style Navbar */
.navbar-brand {
  font-family: "Press Start 2P", sans-serif;
}

.nav-item {
  font-family: "Press Start 2P", sans-serif;
  font-size: x-small;
  color: #fcdab7;
}

/* section 1 */

section.home {
  background-color: #1d2d50;
}

#profile1 {
  background-color: #fcdab7;
  border-radius: 10rem 10rem 1rem 10rem;
  border: 4px;
  border-style: solid;
  border-color: #1e5f74;
}

.developer {
  color: rgba(252, 218, 183, 0.8);
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 49%);
}

#section-1 {
  padding-top: 3rem;
}

/* Button Animasi */

.btn {
  position: relative;
  padding: 1.4rem 3.3rem;
  margin-top: 3rem;
  padding-right: 3.1rem;
  font-size: 15px;
  color: #fcdab7;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  font-family: "Press Start 2P", sans-serif;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 49%);
  box-shadow: 0px 0px 1px 1px rgba(252, 218, 183, 49%);
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  color: #1d2d50;
  transition-delay: 0.5s;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background: #fcdab7;
  transition-delay: 0.35s;
}

.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-top:before {
  bottom: 0;
  border: 1px solid #fcdab7;
  border-top: 0;
  border-bottom: 0;
}

.from-top:after {
  top: 0;
  height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
  height: 100%;
}

/* Animasi Untuk Teks Di section 1 */
.wrapper {
  height: 23vh;
  padding-top: 10rem;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.animasi-ketik {
  width: 20ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-family: "Press Start 2P", sans-serif;
  font-size: 20px;
  color: #fcdab7;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 49%);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* About */
.about {
  background-color: #1d2d50;
  font-family: "Press Start 2P", sans-serif;
}

.row {
  padding-top: 6rem;
}

.abouttext {
  color: #fcdab7;
  padding-top: 5rem;
  font-size: 30px;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 49%);
  font-family: "Press Start 2P", sans-serif;
}

.col p {
  content: "";
  color: #fcdab7;
  opacity: 0.7;
  border-bottom: 2px solid #fcdab7;
  font-size: small;
  width: 15%;
  display: block;
  margin: auto;
  margin-bottom: -8;
  margin-top: 1rem;
}

.namaabout {
  font-family: "Press Start 2P", sans-serif;
  font-size: 20px;
  color: #fcdab7;
  border-bottom: 2px solid #fcdab7;
  width: 48%;
  padding-top: 3rem;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 49%);
}

.deskripsiabout {
  color: #fcdab7;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
}
.keterangan,
p {
  color: #fcdab7;
  font-size: 15px;
  font-family: "Press Start 2P", sans-serif;
  width: 70%;
}

.bi {
  font-size: 40px;
}

.gambarmario {
  padding-top: 4rem;
  size: 50%;
}

/* Skills */
.skillstext {
  color: #fcdab7;
  padding-top: 7rem;
  padding-bottom: 3rem;
  font-size: 30px;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 49%);
  font-family: "Press Start 2P", sans-serif;
}

/* Card Animation */

#skills {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #1d2d50;
}

.deskripsi-card {
  font-family: sans-serif;
  font-size: large;
}

.container-card {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container-card .card {
  position: relative;
  border-radius: 10px;
}

.container-card .card .icon-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.753);
  transition: 0.7s;
  z-index: 1;
}

.container-card .card:nth-child(1) .icon-card {
  background: #1e5f74;
}

.container-card .card:nth-child(2) .icon-card {
  background: rgb(255, 255, 255);
}

.container-card .card:nth-child(3) .icon-card {
  background: rgb(0, 0, 0);
}

.container-card .card .icon-card .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #ffffff;
}

.container-card .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container-card .card .face.face1 {
  position: relative;
  background: #1e5f74;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container-card .card:hover .face.face1 {
  background: #1e5f74;
  transform: translateY(0px);
}

.container-card .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.container-card .card:hover .face.face1 .content {
  opacity: 1;
}

.container-card .card .face.face1 .content i {
  max-width: 100px;
}

.container-card .card .face.face2 {
  position: relative;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  text-align: center;
}

.container-card .card:hover .face.face2 {
  transform: translateY(0);
}

.container-card .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container-card .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  color: #414141;
}

.container-card a {
  text-decoration: none;
  color: #414141;
}

.bg-light {
  background-color: #1d2d50;
}
